<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.juhyang.noticeBoard.memo.dao.MemoDAO">
	<insert id="insertMemo" parameterType="map">
		INSERT INTO `memo`
		(
		`subject`
		,`content`
		,`imagePath`
		,`createdAt`
		,`updatedAt`
		)
		VALUES
		(
		#{subject}
		,#{content}
		,#{imagePath}
		,now()
		,now()
		)
	</insert>

	<select id="selectMemoList"
		resultType="com.juhyang.noticeBoard.memo.model.Memo"
		parameterType="com.juhyang.noticeBoard.memo.model.Criteria">
		SELECT * FROM memo
		
		
			<if test="searchType == 's'.toString()">
				WHERE subject like CONCAT('%', #{keyword}, '%')
			</if>
			
			<if test="searchType == 'c'.toString()">
				WHERE content like CONCAT('%', #{keyword}, '%')
			</if>
			
			<if test="searchType == 'all'.toString()">
				WHERE (subject like CONCAT('%', #{keyword}, '%')
				or content like CONCAT('%', #{keyword}, '%')
			</if>
	

		ORDER BY
		`id` DESC LIMIT ${rowStart-1}, 10 ;
	</select>


	<select id="selectMemo"
		resultType="com.juhyang.noticeBoard.memo.model.Memo">
		SELECT
		`id`
		,`subject`
		,`content`
		,`imagePath`
		,`view`
		,`createdAt`
		,`updatedAt`

		FROM `memo`
		WHERE
		`id` = #{memoId}
	</select>


	<select id="selectPopularMemos"
		resultType="com.juhyang.noticeBoard.memo.model.Memo">
		SELECT
		`id`
		,`subject`
		,`content`
		,`imagePath`
		,`view`
		,`createdAt`
		,`updatedAt`

		FROM `memo`
		WHERE
		`imagePath` IS NOT NULL
		ORDER
		BY
		`view` DESC, `createdAt` DESC LIMIT 10;
	</select>

	<!-- 총 게시글 갯수 출력 -->
	<select id="countBoard" resultType="int">
		SELECT
		COUNT(*)
		FROM
		`memo`
	</select>

	<delete id="deleteMemo" parameterType="int">
		DELETE FROM `memo`
		WHERE
		`id` = #{memoId}
	</delete>

	<update id="increaseView" parameterType="int">
		UPDATE
		`memo`
		SET
		`view` =
		`view` + 1
		WHERE
		`id` = #{memoId}
	</update>

	<update id="resetId">

		ALTER TABLE `memo` AUTO_INCREMENT=1;
		SET @COUNT = 0;
		UPDATE `memo` SET id = @COUNT:=@COUNT+1;
	
	</update>


</mapper>