<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
  <mapper namespace="com.juhyang.noticeBoard.post.dao.PostDAO">
    <insert id="insertPost" parameterType = "map">
		INSERT INTO `post`
		(	
		`subject`
		,`content`
		,`imagePath`
		,`createdAt`
		,`updatedAt`
		)
		VALUES
		(
		 #{subject}
		 ,#{content}
		 ,#{imagePath}
		 ,now()
		 ,now()
		)
	</insert>
	<select id ="selectPostList" resultType = "com.juhyang.noticeBoard.post.model.Post" parameterType ="com.juhyang.noticeBoard.post.model.Criteria">
	SELECT
			`id`
			,`subject`
			,`content`
			,`view`
			,`createdAt`
			,`updatedAt`
	FROM
		`post`
	WHERE 
		`id`
	BETWEEN 
		#{rowStart} AND #{rowEnd} 
	ORDER BY
		`id` ASC
	
	</select>


	<select id = "selectPost" resultType = "com.juhyang.noticeBoard.post.model.Post" >
	SELECT
			`id`
			,`subject`
			,`content`
			,`imagePath`
			,`view`
			,`createdAt`
			,`updatedAt`
			
	FROM `post`
	WHERE
		 `id` = #{postId}

	</select>
	
	
	<select id= "selectPopularPosts" resultType= "com.juhyang.noticeBoard.post.model.Post">
	SELECT
			`id`
			,`subject`
			,`content`
			,`imagePath`
			,`view`
			,`createdAt`
			,`updatedAt`
			
	FROM `post`
	WHERE
		 `imagePath` IS NOT NULL
	ORDER BY
		`view` DESC, `createdAt` DESC LIMIT 10;
	</select>
	
	<!-- 총 게시글 갯수 출력 -->
	<select id="countBoard" resultType="int">
	SELECT
		COUNT(*)
	FROM 
		`post`
	</select>
	
	
	
	
	<select id = "getListWithPaging" resultType = "com.juhyang.noticeBoard.post.model.Post">
	SELECT
			`id`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
			
	FROM
		`post`
	WHERE
		`id` 
	
	</select>
	
	<delete id ="deletePost" parameterType ="int">
	DELETE FROM `post`
	WHERE
		`id` = #{postId}
		
	</delete>
	<update id ="increaseView" parameterType = "int">
	UPDATE
		`post`
	SET
		`view` = `view` + 1
	WHERE
		`id` = #{postId}
	</update>

 </mapper>