@charset "UTF-8";

body {
  background: linear-gradient(to right, #ffc2c2, #6c7ae0);
  font-family: 'Roboto', sans-serif;
  text-decoration : none !important;
}

.form-control:disabled, .form-control[readonly]{
  background-color:#ffffff4f;
}